<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.iamwells.admin.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="io.github.iamwells.admin.entity.Role">
        <id property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleStatus" column="role_status" jdbcType="SMALLINT"/>
        <result property="deleted" column="is_deleted" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>


    <select id="selectByUserId" resultType="io.github.iamwells.admin.entity.Role">
        select role_id, role_code, role_name, role_status, create_time, update_time
        from blog_role
        where role_id
            in (select role_id
                from user_role_relations
                where user_id = #{id}
                  and is_deleted = 0)
          and is_deleted = 0;
    </select>
</mapper>
